<a href="https://colab.research.google.com/github/Docasti/NoCountry/blob/main/Copia_de_Copia_de_intakes_outcomes_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import psycopg2
from urllib.parse import urlparse

# Conexión a la base de datos PostgreSQL
def connect_to_database():
    url = "postgresql://postgres:gFGDAeEGG2aa3f1B-f222B12-Cfg4GCg@viaduct.proxy.rlwy.net:44253/railway"
    result = urlparse(url)
    username = result.username
    password = "gFGDAeEGG2aa3f1B-f222B12-Cfg4GCg"  # Contraseña que estableces con PGPASSWORD
    database = result.path[1:]
    hostname = result.hostname
    port = result.port

    connection = psycopg2.connect(
        dbname=database,
        user=username,
        password=password,
        host=hostname,
        port=port
    )

    return connection

# Conectar a la base de datos
connection = connect_to_database()
print("Conexión establecida correctamente.")



# Cerrar la conexión a la base de datos
connection.close()

Conexión establecida correctamente.

In [35]:
# Función para obtener datos de la API y enviarlos a la base de datos
def fetch_and_insert_data(url, table_name):
    response = requests.get(url)
    data = response.json()

    connection = connect_to_database()
    cursor = connection.cursor()

    for entry in data:
        animal_id = entry.get("animal_id", "")
        name = entry.get("Name", "")

        # Convertir la cadena de fecha y hora al formato de PostgreSQL
        datetime_str = entry.get("datetime", "")
        if datetime_str:
            datetime_obj = datetime.strptime(datetime_str, "%Y-%m-%dT%H:%M:%S.%f")
        else:
            datetime_obj = None  # Si la cadena de fecha y hora está vacía

        # Obtener solo el mes y el año de datetime
        datetime2_str = entry.get("datetime2", "")
        if datetime2_str:
            datetime2_obj = datetime.strptime(datetime2_str, "%Y-%m-%dT%H:%M:%S.%f")

            datetime2 = datetime2_obj.strftime("%Y-%m")  # Obtener solo el mes y el año
        else:
            datetime2 = None  # Si datetime2 está vacío

        found_location = entry.get("found_location", "")
        intake_type = entry.get("intake_type", "")
        intake_condition = entry.get("intake_condition", "")
        animal_type = entry.get("animal_type", "")
        sex_upon_intake = entry.get("sex_upon_intake", "")
        age_upon_intake = entry.get("age_upon_intake", "")
        breed = entry.get("breed", "")
        color = entry.get("color", "")

        # Insertar datos en la tabla especificada
        cursor.execute(sql.SQL("""
            INSERT INTO {} (animal_id, name, datetime, datetime2, found_location,
                            intake_type, intake_condition, animal_type, sex_upon_intake,
                            age_upon_intake, breed, color)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """).format(sql.Identifier(table_name)), (animal_id, name, datetime_obj, datetime2, found_location,
                                                   intake_type, intake_condition, animal_type,
                                                   sex_upon_intake, age_upon_intake, breed, color))

    connection.commit()
    cursor.close()
    connection.close()

# Llamar a la función para obtener y enviar los datos de intake
fetch_and_insert_data("https://data.austintexas.gov/resource/9t4d-g238.json", "outcome")

UndefinedColumn: column "datetime2" of relation "outcome" does not exist
LINE 2: ...INSERT INTO "outcome" (animal_id, name, datetime, datetime2,...
                                                             ^

In [ ]:
def fetch_and_insert_data(url, table_name):
    response = requests.get(url)
    data = response.json()

    connection = connect_to_database()
    cursor = connection.cursor()

    for entry in data:
        animal_id = entry.get("animal_id", "")
        name = entry.get("name", "")

        # Convertir la cadena de fecha y hora al formato de PostgreSQL
        datetime_str = entry.get("datetime", "")
        if datetime_str:
            datetime_obj = datetime.strptime(datetime_str, "%Y-%m-%dT%H:%M:%S.%f")
        else:
            datetime_obj = None  # Si la cadena de fecha y hora está vacía

        monthyear_str = entry.get("monthyear", "")
        if monthyear_str:
            monthyear_obj = datetime.strptime(monthyear_str, "%Y-%m-%dT%H:%M:%S.%f")
            monthyear = monthyear_obj.strftime("%Y-%m")  # Obtener solo el mes y el año
        else:
            monthyear = None  # Si la cadena de fecha y hora está vacía

        date_of_birth_str = entry.get("date_of_birth", "")
        if date_of_birth_str:
            date_of_birth_obj = datetime.strptime(date_of_birth_str, "%Y-%m-%dT%H:%M:%S.%f")
        else:
            date_of_birth_obj = None  # Si la cadena de fecha y hora de nacimiento está vacía

        outcome_type = entry.get("outcome_type", "")
        animal_type = entry.get("animal_type", "")
        sex_upon_outcome = entry.get("sex_upon_outcome", "")
        age_upon_outcome = entry.get("age_upon_outcome", "")
        breed = entry.get("breed", "")
        color = entry.get("color", "")

        # Insertar datos en la tabla especificada
        cursor.execute(sql.SQL("""
            INSERT INTO {} (animal_id, name, datetime, monthyear, date_of_birth, outcome_type,
                            animal_type, sex_upon_outcome, age_upon_outcome, breed, color)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """).format(sql.Identifier(table_name)), (animal_id, name, datetime_obj, monthyear, date_of_birth_obj,
                                                   outcome_type, animal_type, sex_upon_outcome, age_upon_outcome,
                                                   breed, color))

    connection.commit()
    cursor.close()
    connection.close()

# Llamar a la función para obtener y enviar los datos de outcome
fetch_and_insert_data("https://data.austintexas.gov/resource/9t4d-g238.json", "outcome")

In [ ]:
def clean_and_transform_data(connection):
    cursor = connection.cursor()

    # Actualizar valores nulos en las columnas 'outcome_subtype', 'outcome_type', 'sex_upon_outcome' y 'sex_upon_intake'
    cursor.execute("""
        UPDATE outcome
        SET outcome_subtype = COALESCE(outcome_subtype, 'Unknown'),
            outcome_type = COALESCE(outcome_type, 'Unknown'),
            sex_upon_outcome = COALESCE(sex_upon_outcome, 'Unknown'),
            sex_upon_intake = COALESCE(sex_upon_intake, 'Unknown')
    """)

    # Transformar la columna 'time_in_shelter' a días
    cursor.execute("""
        UPDATE outcome
        SET time_in_shelter_days = EXTRACT(EPOCH FROM time_in_shelter) / 86400, -- Convertir a días
            time_in_shelter = time_in_shelter::interval  -- Transformar a intervalo
    """)

    # Transformar las columnas de fecha y hora a fecha
    cursor.execute("""
        UPDATE outcome
        SET outcome_date = DATE(outcome_datetime),
            intake_date = DATE(intake_datetime),
            birth_date = DATE(date_of_birth)
    """)

    # Eliminar las columnas originales de fecha y hora
    cursor.execute("""
        ALTER TABLE outcome
        DROP COLUMN outcome_datetime,
        DROP COLUMN intake_datetime,
        DROP COLUMN date_of_birth
    """)

    # Calcular el tiempo de estancia entre outcome_date e intake_date
    cursor.execute("""
        UPDATE outcome
        SET time_in_shelter_days = (outcome_date - intake_date)::interval / 86400 -- Convertir a días
    """)

    # Guardar los datos limpios en un nuevo archivo CSV
    cursor.execute("""
        COPY (
            SELECT * FROM outcome
        ) TO '/ruta/de/destino/aac_intakes_outcomes_1.csv' DELIMITER ',' CSV HEADER
    """)

    # Guardar los cambios en la base de datos
    connection.commit()

    cursor.close()

# Llamar a las funciones para establecer la conexión y limpiar los datos
connection = connect_to_database()
clean_and_transform_data(connection)
connection.close()

UndefinedColumn: column "outcome_subtype" does not exist
LINE 3:         SET outcome_subtype = COALESCE(outcome_subtype, 'Unk...
                                               ^
HINT:  Perhaps you meant to reference the column "outcome.outcome_type".