In [1]:
import requests
import psycopg2
from psycopg2 import connect, sql
from urllib.parse import urlparse
from datetime import datetime
import csv


# Conexión a la base de datos PostgreSQL
def connect_to_database():
    url = "postgresql://postgres:G3*b6Dd2DBf6AA1DCFB1A1E32DEgdD55@viaduct.proxy.rlwy.net:47487/railway"
    result = urlparse(url)
    username = result.username
    password = "G3*b6Dd2DBf6AA1DCFB1A1E32DEgdD55"  # Contraseña que estableces con PGPASSWORD
    database = result.path[1:]
    hostname = result.hostname
    port = result.port

    connection = psycopg2.connect(
        dbname=database,
        user=username,
        password=password,
        host=hostname,
        port=port
    )

    return connection

In [3]:
import psycopg2
import csv

# Función para realizar la consulta y guardar el resultado como un CSV
def query_and_save_full_outer_join(connection):
    try:
        # Abrir un cursor para ejecutar consultas
        cursor = connection.cursor()

        # Query para realizar el full outer join
        query = """
            SELECT *
            FROM intake
            FULL OUTER JOIN outcome ON intake.animal_id = outcome.animal_id;
        """

        # Ejecutar la consulta
        cursor.execute(query)

        # Obtener los resultados de la consulta
        results = cursor.fetchall()

        # Nombre del archivo CSV de salida
        csv_file_path = "full_outer_join_result.csv"

        # Escribir los resultados en el archivo CSV
        with open(csv_file_path, 'w', newline='') as csvfile:
            csv_writer = csv.writer(csvfile)
            # Escribir el encabezado del CSV (nombres de columnas)
            csv_writer.writerow([desc[0] for desc in cursor.description])
            # Escribir cada fila de resultados en el CSV
            csv_writer.writerows(results)

        print("Consulta realizada con éxito y resultado guardado como:", csv_file_path)

    except psycopg2.Error as e:
        print("Error al ejecutar la consulta:", e)

    finally:
        # Cerrar el cursor y la conexión
        cursor.close()
        connection.close()


# Llamada a las funciones para realizar la consulta y guardar el resultado como CSV
if __name__ == "__main__":
    # Conectar a la base de datos
    connection = connect_to_database()
    # Realizar la consulta y guardar el resultado como CSV
    query_and_save_full_outer_join(connection)

Consulta realizada con éxito y resultado guardado como: full_outer_join_result.csv

In [4]:
import pandas as pd

df = pd.read_csv('full_outer_join_result.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205637 entries, 0 to 205636
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         204822 non-null  object
 1   datetime_obj      204822 non-null  object
 2   found_location    204822 non-null  object
 3   intake_type       204822 non-null  object
 4   intake_condition  204822 non-null  object
 5   animal_type       204822 non-null  object
 6   sex_upon_intake   204820 non-null  object
 7   age_upon_intake   204821 non-null  object
 8   breed             204822 non-null  object
 9   color             204822 non-null  object
 10  animal_id.1       204994 non-null  object
 11  datetime_obj.1    204994 non-null  object
 12  outcome_type      204948 non-null  object
 13  animal_type.1     204994 non-null  object
 14  sex_upon_outcome  204992 non-null  object
 15  age_upon_outcome  204985 non-null  object
 16  breed.1           204994 non-null  object
 17  color.1           204994 non-null  object
dtypes: object(18)
memory usage: 28.2+ MB

In [9]:

df3 = df.dropna()

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204123 entries, 0 to 205415
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         204123 non-null  object
 1   datetime_obj      204123 non-null  object
 2   found_location    204123 non-null  object
 3   intake_type       204123 non-null  object
 4   intake_condition  204123 non-null  object
 5   animal_type       204123 non-null  object
 6   sex_upon_intake   204123 non-null  object
 7   age_upon_intake   204123 non-null  object
 8   breed             204123 non-null  object
 9   color             204123 non-null  object
 10  animal_id.1       204123 non-null  object
 11  datetime_obj.1    204123 non-null  object
 12  outcome_type      204123 non-null  object
 13  animal_type.1     204123 non-null  object
 14  sex_upon_outcome  204123 non-null  object
 15  age_upon_outcome  204123 non-null  object
 16  breed.1           204123 non-null  object
 17  color.1           204123 non-null  object
dtypes: object(18)
memory usage: 29.6+ MB

In [11]:
df3 = df3.reset_index(drop=True)

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204123 entries, 0 to 204122
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         204123 non-null  object
 1   datetime_obj      204123 non-null  object
 2   found_location    204123 non-null  object
 3   intake_type       204123 non-null  object
 4   intake_condition  204123 non-null  object
 5   animal_type       204123 non-null  object
 6   sex_upon_intake   204123 non-null  object
 7   age_upon_intake   204123 non-null  object
 8   breed             204123 non-null  object
 9   color             204123 non-null  object
 10  animal_id.1       204123 non-null  object
 11  datetime_obj.1    204123 non-null  object
 12  outcome_type      204123 non-null  object
 13  animal_type.1     204123 non-null  object
 14  sex_upon_outcome  204123 non-null  object
 15  age_upon_outcome  204123 non-null  object
 16  breed.1           204123 non-null  object
 17  color.1           204123 non-null  object
dtypes: object(18)
memory usage: 28.0+ MB

In [14]:
# Suponiendo que tienes un DataFrame df y quieres eliminar las columnas 'Columna1' y 'Columna2'
columnas_a_eliminar = ['found_location',
                        'animal_id.1', 
                        'animal_type.1',
                        'breed.1',
                        'color.1']
df3 = df3.drop(columnas_a_eliminar, axis=1)

# Muestra el DataFrame después de eliminar las columnas
print(df)

       animal_id         datetime_obj
0        A786884  2019-01-03 16:19:00  \
1        A706918  2015-07-05 12:59:00
2        A682524  2014-06-29 10:38:00
3        A823407  2020-09-23 10:49:00
4        A823407  2020-09-23 10:49:00
...          ...                  ...
205632       NaN                  NaN
205633       NaN                  NaN
205634       NaN                  NaN
205635       NaN                  NaN
205636       NaN                  NaN

                                           found_location intake_type
0                     2501 Magin Meadow Dr in Austin (TX)       Stray  \
1                        9409 Bluegrass Dr in Austin (TX)       Stray
2                           800 Grove Blvd in Austin (TX)       Stray
3       Rosewood Avenue And Poquito Street in Austin (TX)       Stray
4       Rosewood Avenue And Poquito Street in Austin (TX)       Stray
...                                                   ...         ...
205632                                                NaN         NaN
205633                                                NaN         NaN
205634                                                NaN         NaN
205635                                                NaN         NaN
205636                                                NaN         NaN

       intake_condition animal_type sex_upon_intake age_upon_intake
0                Normal         Dog   Neutered Male         2 years  \
1                Normal         Dog   Spayed Female         8 years
2                Normal         Dog   Neutered Male         4 years
3                Normal         Cat   Intact Female        4 months
4                Normal         Cat   Intact Female        4 months
...                 ...         ...             ...             ...
205632              NaN         NaN             NaN             NaN
205633              NaN         NaN             NaN             NaN
205634              NaN         NaN             NaN             NaN
205635              NaN         NaN             NaN             NaN
205636              NaN         NaN             NaN             NaN

                                        breed        color animal_id.1
0                                  Beagle Mix     Tricolor     A786884  \
1                    English Springer Spaniel  White/Liver     A706918
2       Doberman Pinsch/Australian Cattle Dog     Tan/Gray     A682524
3                          Domestic Shorthair  Brown Tabby     A823407
4                          Domestic Shorthair  Brown Tabby     A823407
...                                       ...          ...         ...
205632                                    NaN          NaN     A658825
205633                                    NaN          NaN     A657647
205634                                    NaN          NaN     A663451
205635                                    NaN          NaN     A656094
205636                                    NaN          NaN     A663909

             datetime_obj.1     outcome_type animal_type.1 sex_upon_outcome
0       2019-01-08 15:11:00         Transfer           Dog    Neutered Male  \
1       2015-07-05 15:13:00  Return to Owner           Dog    Spayed Female
2       2014-07-02 14:16:00  Return to Owner           Dog    Neutered Male
3       2023-12-17 15:49:00  Return to Owner           Cat    Spayed Female
4       2021-01-16 12:27:00         Adoption           Cat    Spayed Female
...                     ...              ...           ...              ...
205632  2013-10-02 19:02:00  Return to Owner           Dog    Neutered Male
205633  2013-11-17 17:06:00         Adoption           Cat    Neutered Male
205634  2013-12-04 15:32:00         Adoption           Cat    Neutered Male
205635  2013-10-24 10:50:00         Adoption           Cat    Spayed Female
205636  2013-10-02 14:15:00         Transfer           Dog    Neutered Male

       age_upon_outcome                                breed.1      color.1
0               2 years                             Beagle Mix     Tricolor
1               8 years               English Springer Spaniel  White/Liver
2               4 years  Doberman Pinsch/Australian Cattle Dog     Tan/Gray
3               3 years                     Domestic Shorthair  Brown Tabby
4              8 months                     Domestic Shorthair  Brown Tabby
...                 ...                                    ...          ...
205632          9 years                              Boxer Mix    Tan/White
205633         5 months                 Domestic Shorthair Mix  Brown Tabby
205634         3 months                 Domestic Shorthair Mix   Blue/White
205635           1 year                 Domestic Shorthair Mix       Calico
205636           1 year                     Labrador Retriever       Yellow

[205637 rows x 18 columns]

In [15]:
df3.columns

Index(['animal_id', 'datetime_obj', 'intake_type', 'intake_condition',
       'animal_type', 'sex_upon_intake', 'age_upon_intake', 'breed', 'color',
       'datetime_obj.1', 'outcome_type', 'sex_upon_outcome',
       'age_upon_outcome'],
      dtype='object')