<a href="https://colab.research.google.com/github/Docasti/NoCountry/blob/main/intakes_outcomes_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/refugio/aac_intakes_outcomes.csv')

print (f"****Columnas antes de la limpieza y trasformacion de datos****")
print(data.head())

# Contar los valores nulos
print(f"Columnas con datos nulos")
valores_nulos = data.isnull().sum()
print(valores_nulos)

# Manejo de valores nulos
data['outcome_subtype'].fillna('Unknow', inplace=True)
data['outcome_type'].fillna('Unknow', inplace=True)
data['sex_upon_outcome'].fillna('Unknow', inplace=True)
data['sex_upon_intake'].fillna('Unknow', inplace=True)

# Transformar "time_in_shelter"
data['time_in_shelter'] = pd.to_timedelta(data['time_in_shelter'])
# Convertir a dias
data['time_in_shelter_days'] = data['time_in_shelter'].dt.days

# tranf columnas datetime a fecha
data['outcome_date'] = pd.to_datetime(data['outcome_datetime']).dt.date
data['intake_date'] = pd.to_datetime(data['intake_datetime']).dt.date
data['birth_date'] = pd.to_datetime(data['date_of_birth']).dt.date

# Eliminar datetime originales
data.drop(['outcome_datetime', 'intake_datetime', 'date_of_birth'], axis=1, inplace=True)
print(data.head())

# Calcular tiempo de estadia entre outcome_date e intake_date
data['time_in_shelter_days'] = (pd.to_datetime(data['outcome_date']) - pd.to_datetime(data['intake_date'])).dt.days

# Guardar el DataFrame
data.to_csv('/content/aac_intakes_outcomes_1.csv', index=False)

print (f"****Columnas despues de la limpieza y trasformacion de datos****")
# Vistazo rapido de nuestras variable en DF limpio
data_describe = pd.read_csv('/content/aac_intakes_outcomes_1.csv')

# Mostrar un resumen
print(data_describe.describe())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
****Columnas antes de la limpieza y trasformacion de datos****
  age_upon_outcome animal_id_outcome    date_of_birth outcome_subtype  \
0         10 years           A006100  09/07/2007 0:00             NaN
1          7 years           A006100  09/07/2007 0:00             NaN
2          6 years           A006100  09/07/2007 0:00             NaN
3         10 years           A047759  02/04/2004 0:00         Partner
4         16 years           A134067  16/10/1997 0:00             NaN

      outcome_type sex_upon_outcome  age_upon_outcome_(days)  \
0  Return to Owner    Neutered Male                     3650
1  Return to Owner    Neutered Male                     2555
2  Return to Owner    Neutered Male                     2190
3         Transfer    Neutered Male                     3650
4  Return to Owner    Neutered Male                     5840

  age_upon_outcome_(years) age_upon_outcome_age_group  outcome_datetime  ...  \
0                     10.0                (7.5, 10.0]   7/12/2017 14:07  ...
1                      7.0                 (5.0, 7.5]  20/12/2014 16:35  ...
2                      6.0                 (5.0, 7.5]  08/03/2014 17:10  ...
3                     10.0                (7.5, 10.0]  07/04/2014 15:12  ...
4                     16.0               (15.0, 17.5]  16/11/2013 11:54  ...

   age_upon_intake_age_group   intake_datetime intake_month intake_year  \
0                (7.5, 10.0]    7/12/2017 0:00           12        2017
1                 (5.0, 7.5]  19/12/2014 10:21           12        2014
2                 (5.0, 7.5]  07/03/2014 14:26            3        2014
3                (7.5, 10.0]  02/04/2014 15:55            4        2014
4               (15.0, 17.5]   16/11/2013 9:02           11        2013

   intake_monthyear  intake_weekday  intake_hour  intake_number  \
0           2017-12        Thursday           14            1.0
1           2014-12          Friday           10            2.0
2           2014-03          Friday           14            3.0
3           2014-04       Wednesday           15            1.0
4           2013-11        Saturday            9            1.0

             time_in_shelter    time_in_shelter_days
0  0 days 14:07:00.000000000   5.881.944.444.444.440
1  1 days 06:14:00.000000000  12.597.222.222.222.200
2  1 days 02:44:00.000000000   1.113.888.888.888.880
3  4 days 23:17:00.000000000   4.970.138.888.888.880
4  0 days 02:52:00.000000000  11.944.444.444.444.400

[5 rows x 41 columns]
Columnas con datos nulos
age_upon_outcome                  0
animal_id_outcome                 0
date_of_birth                     0
outcome_subtype               43322
outcome_type                     10
sex_upon_outcome                  1
age_upon_outcome_(days)           0
age_upon_outcome_(years)          0
age_upon_outcome_age_group        0
outcome_datetime                  0
outcome_month                     0
outcome_year                      0
outcome_monthyear                 0
outcome_weekday                   0
outcome_hour                      0
outcome_number                    0
dob_year                          0
dob_month                         0
dob_monthyear                     0
age_upon_intake                   0
animal_id_intake                  0
animal_type                       0
breed                             0
color                             0
found_location                    0
intake_condition                  0
intake_type                       0
sex_upon_intake                   1
count                             0
age_upon_intake_(days)            0
age_upon_intake_(years)           0
age_upon_intake_age_group         0
intake_datetime                   0
intake_month                      0
intake_year                       0
intake_monthyear                  0
intake_weekday                    0
intake_hour                       0
intake_number                     0
time_in_shelter                   0
time_in_shelter_days              0
dtype: int64
  age_upon_outcome animal_id_outcome outcome_subtype     outcome_type  \
0         10 years           A006100          Unknow  Return to Owner
1          7 years           A006100          Unknow  Return to Owner
2          6 years           A006100          Unknow  Return to Owner
3         10 years           A047759         Partner         Transfer
4         16 years           A134067          Unknow  Return to Owner

  sex_upon_outcome  age_upon_outcome_(days) age_upon_outcome_(years)  \
0    Neutered Male                     3650                     10.0
1    Neutered Male                     2555                      7.0
2    Neutered Male                     2190                      6.0
3    Neutered Male                     3650                     10.0
4    Neutered Male                     5840                     16.0

  age_upon_outcome_age_group  outcome_month  outcome_year  ... intake_year  \
0                (7.5, 10.0]             12          2017  ...        2017
1                 (5.0, 7.5]             12          2014  ...        2014
2                 (5.0, 7.5]              3          2014  ...        2014
3                (7.5, 10.0]              4          2014  ...        2014
4               (15.0, 17.5]             11          2013  ...        2013

  intake_monthyear  intake_weekday  intake_hour  intake_number  \
0          2017-12        Thursday           14            1.0
1          2014-12          Friday           10            2.0
2          2014-03          Friday           14            3.0
3          2014-04       Wednesday           15            1.0
4          2013-11        Saturday            9            1.0

   time_in_shelter time_in_shelter_days outcome_date intake_date  birth_date
0  0 days 14:07:00                    0   2017-07-12  2017-07-12  2007-09-07
1  1 days 06:14:00                    1   2014-12-20  2014-12-19  2007-09-07
2  1 days 02:44:00                    1   2014-08-03  2014-07-03  2007-09-07
3  4 days 23:17:00                    4   2014-07-04  2014-02-04  2004-02-04
4  0 days 02:52:00                    0   2013-11-16  2013-11-16  1997-10-16

[5 rows x 41 columns]
****Columnas despues de la limpieza y trasformacion de datos****
       age_upon_outcome_(days)  outcome_month  outcome_year  outcome_hour  \
count             79670.000000   79670.000000  79670.000000  79670.000000
mean                781.997038       6.655554   2015.472562     14.297326
std                1058.496067       3.414228      1.305958      3.774355
min                   0.000000       1.000000   2013.000000      0.000000
25%                  90.000000       4.000000   2014.000000     12.000000
50%                 365.000000       7.000000   2015.000000     15.000000
75%                1095.000000      10.000000   2017.000000     17.000000
max                9125.000000      12.000000   2018.000000     23.000000

       outcome_number      dob_year     dob_month    count  \
count    79670.000000  79670.000000  79670.000000  79670.0
mean         1.126811   2013.255027      6.310167      1.0
std          0.456052      3.216405      3.288995      0.0
min          1.000000   1991.000000      1.000000      1.0
25%          1.000000   2012.000000      4.000000      1.0
50%          1.000000   2014.000000      6.000000      1.0
75%          1.000000   2015.000000      9.000000      1.0
max         13.000000   2018.000000     12.000000      1.0

       age_upon_intake_(days)  intake_month   intake_year   intake_hour  \
count            79670.000000  79670.000000  79670.000000  79670.000000
mean               769.292293      6.584160   2015.436099     13.487084
std               1055.975855      3.366524      1.303171      3.121187
min                  0.000000      1.000000   2013.000000      0.000000
25%                 60.000000      4.000000   2014.000000     11.000000
50%                365.000000      7.000000   2015.000000     13.000000
75%               1095.000000     10.000000   2017.000000     16.000000
max               9125.000000     12.000000   2018.000000     23.000000

       intake_number  time_in_shelter_days
count   79670.000000          79670.000000
mean        1.126811             18.239237
std         0.456052            108.889267
min         1.000000           -334.000000
25%         1.000000              0.000000
50%         1.000000              4.000000
75%         1.000000             46.000000
max        13.000000           1870.000000

In [ ]:

# visualizo column relevantes, age_upon_outcome_age_group , tal vez hacer un promedio?
print(data[['animal_type', 'outcome_type', 'time_in_shelter_days', 'age_upon_outcome_age_group']])

      animal_type     outcome_type  time_in_shelter_days  \
0             Dog  Return to Owner                     0
1             Dog  Return to Owner                     1
2             Dog  Return to Owner                     1
3             Dog         Transfer                     4
4             Dog  Return to Owner                     0
...           ...              ...                   ...
79665         Cat         Transfer                     0
79666       Other       Euthanasia                     0
79667       Other       Euthanasia                     0
79668         Dog  Return to Owner                     1
79669         Dog       Euthanasia                     0

      age_upon_outcome_age_group
0                    (7.5, 10.0]
1                     (5.0, 7.5]
2                     (5.0, 7.5]
3                    (7.5, 10.0]
4                   (15.0, 17.5]
...                          ...
79665              (-0.025, 2.5]
79666              (-0.025, 2.5]
79667              (-0.025, 2.5]
79668              (-0.025, 2.5]
79669                (7.5, 10.0]

[79670 rows x 4 columns]

In [ ]:
# visualizo column relevantes, age_upon_outcome_age_group , tal vez hacer un promedio?
print(data[['animal_type', 'outcome_type', 'time_in_shelter_days', 'age_upon_outcome_age_group']])

In [ ]:
# ####### funcion limpiar datos py
def limpiar_datos(data):
    # Contar los valores nulos
    print("Columnas con datos nulos:")
    valores_nulos = data.isnull().sum()
    print(valores_nulos)

    # Manejo de valores nulos
    data['outcome_subtype'].fillna('Unknow', inplace=True)
    data['outcome_type'].fillna('Unknow', inplace=True)
    data['sex_upon_outcome'].fillna('Unknow', inplace=True)
    data['sex_upon_intake'].fillna('Unknow', inplace=True)

    # Transformar "time_in_shelter"
    data['time_in_shelter'] = pd.to_timedelta(data['time_in_shelter'])
    # Convertir a días
    data['time_in_shelter_days'] = data['time_in_shelter'].dt.days

    # Transformar columnas datetime a fecha
    data['outcome_date'] = pd.to_datetime(data['outcome_datetime']).dt.date
    data['intake_date'] = pd.to_datetime(data['intake_datetime']).dt.date
    data['birth_date'] = pd.to_datetime(data['date_of_birth']).dt.date

    # Eliminar datetime originales
    data.drop(['outcome_datetime', 'intake_datetime', 'date_of_birth'], axis=1, inplace=True)

    # Calcular tiempo de estancia entre outcome_date e intake_date
    data['time_in_shelter_days'] = (pd.to_datetime(data['outcome_date']) - pd.to_datetime(data['intake_date'])).dt.days

    return data

In [ ]:
###################funcion limpiar sql

In [ ]:
def clean_and_transform_data(connection):
    cursor = connection.cursor()

    # Actualizar valores nulos en las columnas 'outcome_subtype', 'outcome_type', 'sex_upon_outcome' y 'sex_upon_intake'
    cursor.execute("""
        UPDATE outcome
        SET outcome_subtype = COALESCE(outcome_subtype, 'Unknown'),
            outcome_type = COALESCE(outcome_type, 'Unknown'),
            sex_upon_outcome = COALESCE(sex_upon_outcome, 'Unknown'),
            sex_upon_intake = COALESCE(sex_upon_intake, 'Unknown')
    """)

    # Transformar la columna 'time_in_shelter' a días
    cursor.execute("""
        UPDATE outcome
        SET time_in_shelter_days = EXTRACT(EPOCH FROM time_in_shelter) / 86400, -- Convertir a días
            time_in_shelter = time_in_shelter::interval  -- Transformar a intervalo
    """)

    # Transformar las columnas de fecha y hora a fecha
    cursor.execute("""
        UPDATE outcome
        SET outcome_date = DATE(outcome_datetime),
            intake_date = DATE(intake_datetime),
            birth_date = DATE(date_of_birth)
    """)

    # Eliminar las columnas originales de fecha y hora
    cursor.execute("""
        ALTER TABLE outcome
        DROP COLUMN outcome_datetime,
        DROP COLUMN intake_datetime,
        DROP COLUMN date_of_birth
    """)

    # Calcular el tiempo de estancia entre outcome_date e intake_date
    cursor.execute("""
        UPDATE outcome
        SET time_in_shelter_days = (outcome_date - intake_date)::interval / 86400 -- Convertir a días
    """)

    # Guardar los datos limpios en un nuevo archivo CSV
    cursor.execute("""
        COPY (
            SELECT * FROM outcome
        ) TO '/ruta/de/destino/aac_intakes_outcomes_1.csv' DELIMITER ',' CSV HEADER
    """)

    # Guardar los cambios en la base de datos
    connection.commit()

    cursor.close()

# Llamar a las funciones para establecer la conexión y limpiar los datos
connection = connect_to_database()
clean_and_transform_data(connection)
connection.close()

NameError: name 'connect_to_database' is not defined